# config
config.ini
config_new.ini
ini_merge_log.txt

# Pickle files
*.pkl

# virtualenv
venv/

# logs
logs/
install_notes.txt

# modified .service files
etc/*.service

# Python cache
__pycache__/

# rag data
data/rag/*

# qrz db
data/qrz.db

# fileMonitor test file
bee.txt

# .csv files
*.csv

# modules/custom_scheduler.py
modules/custom_scheduler.py

