# config
config.ini

# Pickle files
*.pkl

# virtualenv
venv/

# logs
logs/
install_notes.txt

# modified .service files
etc/*.service

# Python cache
__pycache__/

# rag data
data/rag/*

# qrz db
data/qrz.db

# user stats database
data/user_stats.json

# fileMonitor test file
bee.txt

# .csv files
*.csv