# config
config.ini
config_new.ini
ini_merge_log.txt
install_notes.txt

# logs
logs/

# modified .service files
etc/*.service

# fileMonitor test file
bee.txt

# data files
data/*.json
data/*.txt
data/*.pkl
data/*.csv
data/*.db

# modules/custom_scheduler.py
modules/custom_scheduler.py

# virtualenv
venv/

# Python cache
__pycache__/
