[interface]
type = serial
port = /dev/ttyACM0

[interface2]
enabled = False
type = serial
port = /dev/ttyUSB0

[general]
respond_by_dm_only = True
defaultChannel = 0
motd = Thanks for using MeshBOT! Have a good day!
welcome_message = MeshBot, here for you like a friend who is not. Try sending: ping @foo or, cmd
DadJokes = True
spaceWeather = True
wikipedia = True
ollama = False
ollamaModel = llama3.1
StoreForward = True
StoreLimit = 3
zuluTime = False
urlTimeout = 10
LogMessagesToFile = False
SyslogToFile = False

[sentry]
SentryEnabled = True
SentryRadius = 100
SentryChannel = 9
SentryHoldoff = 9
sentryIgnoreList = 

[bbs]
enabled = True
bbs_ban_list = 
bbs_admin_list = 

[location]
enabled = True
lat = 48.50
lon = -123.0
NOAAforecastDuration = 4
NOAAalertCount = 2
UseMeteoWxAPI = False
useMetric = False

[repeater]
enabled = False
repeater_channels = 

[radioMon]
enabled = False
rigControlServerAddress = localhost:4532
sigWatchBroadcastCh = 2
signalDetectionThreshold = -10
signalHoldTime = 10
signalCooldown = 5
signalCycleLimit = 5
