[config]
version = 1.0


[interface]
type = serial
port = /dev/ttyUSB0
# port = /dev/ttyUSB0
# hostname = meshtastic.local
# mac = 00:11:22:33:44:55


[general]
respond_by_dm_only = True
#   ^ if False will respond on all channels but the default channel

cmdBang = False
#   ^ require ! to be the first character in a command

zuluTime = False
#   ^ True to use a 24 Hour clock

urlTimeout = 10
#   ^ wait time for URL requests

autoPingInChannel = False
#   ^ Allows auto-ping feature in a channel, False forces to 1 ping only

lheardCmdIgnoreNode = 
#   ^ command history ignore list ex: 2813308004,4258675309

bee = False

dont_retry_disconnect = True
#   ^ Do not retry enabling interface if it fails, just exit to let OS restart the bot


[logging]
LogMessagesToFile = False
#   ^ logging to file of the non Bot messages

LogBackupCount = 32
    ^ Number of log files to keep in days, 0 to keep all

SyslogToFile = True
#   ^Logging of system messages to file

sysloglevel = DEBUG
#   ^ logging level for the bot (DEBUG, INFO, WARNING, ERROR, CRITICAL)


[channel_configuration]
defaultChannel = 0
#   ^defaultChannel is the meshtastic default public channel, e.g. LongFast (if none use -1)

ignoreChannels = 
#   ^ignoreChannels is a comma separated list of channels to ignore, e.g. 4,5

ignoreDefaultChannel = False
#   ^ignoreDefaultChannel, the bot will ignore the default channel set above


[automatic_messaging]
welcome_message = MeshBot, here for you like a friend who is not. Try sending: ping @foo or, cmd
#   ^Set the welcome message

motd = Thanks for using MeshBOT! Have a good day!
#   ^motd is reset to this value on boot


[features]
wikipedia = True
#   ^enable or disable the wikipedia search module

whoami = True
#   ^Tell you who you are

enableCmdHistory = True
#   ^history command 

spaceWeather = True
#   ^enable or disable the Solar module

motdEnabled = True 
#   ^enable motd

ollama = False
#   ^enable Ollama

location_enabled = True
#   ^enable location features

SentryEnabled = False
#   ^enable sentry

[dad_jokes]
DadJokes = False
#   ^enable dad jokes

DadJokesEmoji = False


[store_and_foward]
StoreForward = True
#   ^Enable Stora and foward
StoreLimit = 3
#   ^How many messages to store

[emergency_handler]
enabled = True
#   ^enable or disable the emergency response handler

alert_channel = 2
#   ^channel to send a message to when the emergency handler is triggered

alert_interface = 1
#   ^What interface/device to use when sending via alert_channel

email = 
#   ^Send email via SMTP when triggered


[sentry]
SentryChannel = 2
#   ^channel to send a message to when the watchdog is triggered

SentryHoldoff = 9
#   ^holdoff time multiplied by seconds(20) of the watchdog

sentryIgnoreList = 
#   ^list of ignored nodes numbers ex: 2813308004,4258675309

SentryRadius = 100
#   ^radius in meters to detect someone close to the bot

emailSentryAlerts = False
#   ^send email when node enters radius

highFlyingAlert = True
highFlyingAlertAltitude = 2000
#   ^Notify above this Altitude

highFlyingAlertChannel = 2
#   ^High flying notification channel

highFlyingIgnoreList = 
#   ^Nodes to ignore

[location]
lat = 48.50
lon = -123.0

useMetric = False
#   ^Default to metric units rather than imperial

repeaterLookup = rbook
#   ^repeaterList lookup location (rbook / artsci)

n2yoAPIKey = 
#   ^Satalite Pass Prediction
#  ^^Register for free API https://www.n2yo.com/login/

satList = 25544
#   ^NORAD list https://www.n2yo.com/satellites/

riverList = 
#   ^USGS Hydrology unique identifiers, LID or USGS ID https://waterdata.usgs.gov

pzzEnabled = False
#   ^NOAA Coastal Data Enable NOAA Coastal Waters Forecasts (PZZ) and tide cmd

pzzZoneID = 100
#   ^My Forecast Zone ID, https://www.weather.gov/marine select location and then look at the 'Forecast-by-Zone Map' and select PZZ zone

pzzForecastDays = 3
#   ^number of data points to return, default is 3

[location_alerts]
UseMeteoWxAPI = False
#   ^use Open-Meteo API for weather data not NOAA useful for non US locations

eAlertBroadcastEnabled = False
#   ^Goverment Alert Broadcast defaults to FEMA IPAWS

wxAlertBroadcastEnabled = False
#   ^NOAA EAS Alert Broadcast

enableGBalerts = False
myRegionalKeysDE = 110000000000
enableDEalerts = False
NOAAalertsEnabled = True

ignoreEASenable = False
#   ^Enable Ignore any message that includes following word list below

ignoreEASwords = test, advisory

NOAAforecastDuration = 4
#   ^NOAA weather forecast days

NOAAalertCount = 2
#   ^number of weather alerts to display

enableExtraLocationWx = False
#   ^Add extra location to the weather alert

myFIPSList = 
#   ^comma separated list of FIPS codes to trigger local alert. find your FIPS codes at https://en.wikipedia.org/wiki/Federal_Information_Processing_Standard_state_code

mySAMEList =
#   ^find your SAME https://www.weather.gov/nwr/counties comma separated list of SAME code to further refine local alert.


ignoreFEMAenable = True
#   Enable Ignore, headline that includes following word list below

ignoreFEMAwords = test,exercise

wxAlertBroadcastCh = 2
#   ^What channel to broadcast on for weather alerts

eAlertBroadcastCh = 2
#   ^What channel to broadcast on for emergency alerts

volcanoAlertBroadcastEnabled = False
#   ^Volcano alerts

volcanoAlertBroadcastCh = 2
#   ^What channel to broadcast valcano alerts to

ignoreVolcanoEnable = False
#   ^Enable Ignore any message that includes following word list below

ignoreVolcanoWords = test,advisory