# /etc/systemd/system/meshbot.service
# sudo systemctl daemon-reload
# sudo systemctl start meshbot.service

[Unit]
Description=meshbot
After=network.target

[Service]
WorkingDirectory=/home/dabures/
User=dabures
Type=simple
ExecStart=python3 /home/dabures/meshing-around/mesh_bot.py
Restart=always
# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target